*{
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: 'Staatliches', cursive;
}

body{
  background-color: gray;
}

#container{
  margin: auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: gray;
}

h1{
  font-weight: bold;
  font-size: 280px;
}

a{
  display: block;
  text-decoration: none;
  width: 100px;
  height: 50px;
  margin: auto;
  background-color: gray;
  line-height: 50px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 5px 0 darkgray;
}

a:hover{
  background-color: darkgray;
  margin-top: 5px;
  box-shadow: 0 0px 0 darkgray;
}



/*BALLS*/

.ball{
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 50%;
  background-color: #fff;
  animation: ballFlick ease alternate infinite;
}

.ball:nth-of-type(1){
  width: 200px;
  height: 200px;
  top: 50px;
  margin-left: -230px;
  animation-delay: 2s;
  animation-duration: 2s;
}

.ball:nth-of-type(2){
  width: 150px;
  height: 150px;
  top: 150px;
  margin-left: -100px;
  animation-duration: 3s;
}

.ball:nth-of-type(3){
  width: 250px;
  height: 250px;
  top: 50px;
  margin-left: 0px;
  animation-delay: .8s;
  animation-duration: 1.5s;
}

.ball:nth-of-type(4){
  width: 180px;
  height: 180px;
  top: 290px;
  margin-left: -90px;
  animation-delay: 2.4s;
  animation-duration: 2.5s;
}




/*animation*/

@keyframes ballFlick {
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}
