*{
  padding: 0;
  margin: 0;
}

body{
  background-color: gray;
}

#container{
  margin: auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: gray;
}

h1{
  font-weight: bold;
  font-size: 300px;
}

a{
  display: block;
  text-decoration: none;
  width: 100px;
  height: 50px;
  margin: auto;
  background-color: gray;
  line-height: 50px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 5px 0 darkgray;
}

a:hover{
  background-color: darkgray;
  margin-top: 5px;
  box-shadow: 0 0px 0 darkgray;
}



/*BALLS*/

.ball{
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  left: 50%;
  background-color: #fff;
}

.ball:nth-of-type(1){
  width: 200px;
  height: 200px;
  top: 50px;
  margin-left: -230px;
}

.ball:nth-of-type(2){
  width: 150px;
  height: 150px;
  top: 150px;
  margin-left: -100px;
}

.ball:nth-of-type(3){
  width: 250px;
  height: 250px;
  top: 50px;
  margin-left: 0px;
}

.ball:nth-of-type(4){
  width: 180px;
  height: 180px;
  top: 270px;
  margin-left: -90px;
}
